.light-theme {
  --background-color:  #fafafa;
  --text-color: #212121;
  --link-color: #1976D2;
  --shadow-color: #001111;
}

.dark-theme {
  --background-color:  #212121;
  --text-color: #fafafa;
  --link-color: #1976D2;
  --shadow-color: #e2f1f1;
}


body {
  margin: 0;
  padding: 0;
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}


#toggle-img {
  width: 24px;
  height: 24px;
}

#intro-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.self-image {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

#intro-content {

}
